<div class="header">

<button class='btn btn-primary task-add' {{action "openNewTask"}}>      
  <span class="plus"/>
</button>
  {{!-- {{div  class='btn btn-primary task-add' action='openNewTask' tagName='button'}}
      <span class="plus"/> --}}


{{#if editAddTask }}
  <form id="task-add-form">

  <button {{action 'addTask'}}>הוסף</button>
    {{input type="text" class="input-width" value=des placeholder="...הקלד כאן"}}

  </form>
{{/if}}
  <h1 id= "title">
        משימות

    </h1>

</div>


{{yield}}