    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<li class="checkbox">

        {{!-- <input type="checkbox" disabled={{task.isDone}} checked={{task.isDone}} onclick={{action "changeToDone" task.description }} /> --}}
        <span class={{ if task.isDone "checkbox-done" "checkbox-todo"}} onclick={{unless task.isDone (action "changeToDone" task.description) }} ></span>



      <span id="task-del" onclick={{action "deleteTask" task.id}}>X</span>

 {{#if editDescription }}
  {{!-- <form>    --}}
     {{input type="text" class="input-width" value=task.description placeholder="אנא הקלד טקסט כאן.."}}
   
      <button type="sumbit" {{action 'editTask'}}>אשר</button>
      {{!-- </form> --}}
      {{else}}
      <span class={{if task.isDone "task-done"}}>{{task.description}}</span>
      {{!-- <span onclick={{action "editTitle"}}> ערוך</span> --}}
      <i onclick={{action "editDescription"}} class="fa fa-edit edit" style="font-size:20px"></i>

{{/if}}

    </li>

{{yield}}
