
{{outlet}}

<ol id="todo-list" dir="rtl">
  {{#each model as |todo index|}}

        {{todo-item task=todo index=index class="todo-list" editDescription=false  tasks=model}}

    {{!-- <li class="checkbox">

        <input type="checkbox" disabled={{todo.isDone}} checked={{todo.isDone}} onclick={{action "changeToDone" todo.description }} />

     

      <span class={{if todo.isDone "lit"}}>{{todo.description}}</span>
    </li> --}}



  {{/each}}
</ol>
{{!-- {{/if}} --}}

